<form action="/divisions" method="post">
	<div class="form-group">
		<label for="division_name">Division Name</label>
		<input class="form-control" id="division_name" name="division_name" type="text">
	</div>
	<button class="btn-success" type="submit">Add</button>
</form>