<form action="/employee" method="post">
	<div class="form-group">
		<label for="employee_name">Employee's name</label>
		<input class="form-control" id="employee_name" name="employee_name" type="text">
	</div>
	<button class="btn-success" type="submit">Add</button>
</form>