<h1>Triangle Checker</h1>
<h3>Enter triangl Dimensions</h3>
<form action="/result">
    <div class="form-inline">
       <label for="length">Length:</label>
       <input id="length" name="length" class="form-control" type="number">
    </div>
    <br >
    <div class="form-inline">
       <label for="width">width:</label>
       <input id="width" name="width" class="form-control" type="number">
    </div>
    <br >
    <div class="form-inline">
       <label for="height">height:</label>
       <input id="height" name="height" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
